 body {
        background-color: var(--bg-color);
        color: var(--primary-color);
        font-family: var(--font);
        height: 100vh;
        margin: 0;
        }

        header {
            background-color: var(--primary-color);
            text-align: center;
            padding: 1px;
            }

            h1 {
                font-size: 2rem;
                color: var(--bg-color);
                font-weight: 700;
                }
                nav {
                    display: flex;
                    justify-content: center;
                    font-weight: 400;
                    }
                    nav a {
                        text-decoration: none;
                        color: var(--bg-color);
                        margin: 0rem 2rem 3rem 0rem;
                        font-size: 4rem;
                    }
                    nav a:hover {
                        text-decoration: underline;
                        transform: scale(0.90);
                        transition: transform 0.1s;
                        }

                    .graficos-container{
                        margin: 5rem;

                    }        

                    .graficos-container__texto{
                        font-size: 1.3rem;
                        text-align: center;
                        padding: 2rem;
                        border: var(--secundary-color) solid 2px;
                    }
                    
                    span{
                        font-weight: bold;
                        color: var(--secundary-color);
                    }


                        footer {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--primary-color);
                            color: var(--bg-color);
                            width: 100%;
                            height: 3rem;
                            margin-top: 2rem;
                            }

                            input{
                                font-size: 80px;
                                width: 380px;
                                margin-left: 600px;
                                margin-right: 600px;
                                margin-top: 50px;
                            }
                             button{
                                font-size: 80px;
                                width: 380px;
                                margin-left: 600px;
                                margin-right: 600px;
                                margin-top: 10px;
                            }
                            p{
                                font-size: 80px;
                                width: 380px;
                                margin-left: 600px;
                                margin-right: 600px;
                                margin-top: 50px;
                            }


.my-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 15px; /*Espaçamento interno*/
  text-decoration: none; /*Remover sublinhado*/
  display: inline-block; /*Permite espaçamento*/
  border-radius: 5px; /*Arredondar as bordas*/
  cursor: pointer; /*Mostrar cursor de ponteiro*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /*Adicionar sombra*/
  transition: all 0.3s ease; /*Transição suave*/
}

.my-button:hover {
  background-color: #3e8e41;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /*Sombra mais intensa*/
  transform: scale(1.05); /*Aumentar o tamanho*/
}

.grande-centralizado-perdeu {
  text-align: center;
  font-size: 200px; /* Ajuste este valor para o tamanho desejado */
  color: #ff3300; /* Exemplo de cor azul */
  font-weight: bold;
  line-height: 1.2;
  margin-top: 200px; /* Exemplo de espaço em cima */
  margin-left: 400px;
  margin-right: 600px;
                                
}

.grande-centralizado-ganhou {
  text-align: center;
  font-size: 200px; /* Ajuste este valor para o tamanho desejado */
  color: #0800ff; /* Exemplo de cor azul */
  font-weight: bold;
  line-height: 1.2;
  margin-top: 200px; /* Exemplo de espaço em cima */
  margin-left: 400px;
  margin-right: 600px;
                                
}